<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Transaction history</title>
</head>
<body>
  <!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
$(function(){
  $("#nav-placeholder").load("nav.html");
});
</script>
<!--end of Navigation bar-->

	<header><h1>Transaction Detail</h1></header>
	<form method="post" action="{% url '' %}">
            {% csrf_token %}

            <p>Username: {{ form.username }}</p>
            <Table striped bordered hover>
                <thead>
                  <tr>
                    <th>CustID</th>
                    <th>PayeeID</th>
                    <th>Date</th>
                    <th>Amount</th>
                  </tr>
                  
                </thead>
                <tbody>
                  <tr>
                      
                </tbody>
              </Table>
            

            <p><input type="submit" value="login"></p>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
</body>
</html>