<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Details</title>
  <link rel="stylesheet" href="account-details.css">
  <script>
    //const accountErrorMsg = document.getElementById("account-error-msg");
    //insert part about session timeout here possibly 
    //    if (username === "user" && password === "web_dev") {
    //        alert("You have successfully logged in.");
    //        location.reload();
    //    } else {
    //        accountErrorMsg.style.opacity = 1;
    //    }

    </script>
</head>

<body>
  <main id="main-holder">
    <h1 id="Account-header">Account Details</h1>
    
    <!--
    <div id="account-error-msg-holder">
      <p id="account-error-msg">Session Timeout <span id="error-msg-second-line">Please login again</span></p>
    </div>
    -->

    <div id="Account-details-holder">
      <p id="Account-details"></p>      
    </div>
  
  </main>
</body>

</html>