<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balance</title>
  <script defer src="balance-page.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="Balance-header">Balance</h1>
    
    <div id="balance-error-msg-holder">
      <p id="balance-error-msg">ISession Timeout <span id="error-msg-second-line">Please login again</span></p>
    </div>

    <div id="balance-details-holder">
      <p id="balance-details"></p>      
    </div>
  
  </main>
</body>

</html>