<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Transaction history</title>
</head>
<body>
	<header><h1>Transaction History</h1></header>
	<form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <p>Username: {{ form.username }}</p>
            <p>Password: {{ form.password }}</p>
            

            <p><input type="submit" value="login"></p>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
</body>
</html>