<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Index</title>
    </head>
    <body>

        <form style="text-align: left;" action="{% url 'transfer' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ username }}" />
            Recipient Username: <input type="text" name="recipient" value="" /><br>
            Transaction Amount: <input type="number" name="transaction_amount" value="transaction_amount" />
            <br></nr><input type="submit" value="Make Transfer" />
        </form>

    </body>
</html>