<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transaction History</title>
  <link rel="stylesheet" href="transaction-history.css">
  <script>
  // $(function(){
  //   $("#nav-placeholder").load("nav.html");
  // });
    var myHeaders = new Headers();
    myHeaders.append("x-api-key", "WaiaCA14j19ibdk6JZR3D5E03Y8I21HQ3nDMh3c5");
    myHeaders.append("Content-Type", "application/json");
    var raw = JSON.stringify({"custID":7});
    var requestOptions = {
    method: 'POST',
    headers: myHeaders,
    body: raw,
    redirect: 'follow'
    };

    fetch("https://u8fpqfk2d4.execute-api.ap-southeast-1.amazonaws.com/techtrek2020/transaction/view", requestOptions)
    .then(response => response.text())
    .then(function(result) {
    var obj = JSON.parse(result);
    document.getElementById("custID").innerHTML = "From Customer " + obj[0].custID;
    document.getElementById("payeeID").innerHTML = "to Customer" + obj[0].payeeID;
    document.getElementById("date").innerHTML = "Date" + obj[0].date;
    document.getElementById("amount").innerHTML = "Amount" + obj[0].amount;
    document.getElementById("eGift").innerHTML = "eGift" + obj[0].eGift;
    document.getElementById("Message").innerHTML = "Message" + obj[0].message;
    document.getElementById("expense").innerHTML = "Expense Category" + obj[0].expenseCat;
    })
    .catch(error => console.log('error', error));
  </script>
</head>

<body>
  
  <main id="main-holder">
    <h1 id="history-header">Transaction History</h1>
    
    <!--
    <div id="hist-error-msg-holder">
      <p id="hist-error-msg">Session Timeout <span id="error-msg-second-line">Please login again</span></p>
    </div>
    -->

    <div id="history-holder">
      <table>
         <tr>
            <th>Customer ID</th>
            <th>Payee ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>eGift</th>
            <th>Message</th>
            <th>Expense Category</th>
         </tr>
         <tr>
            <p id= custID></p>
            <p id= payeeID></p>
            <p id= date></p>
            <p id= amount></p>
            <p id= eGift></p>
            <p id= Message></p>
            <p id= expense></p>
            
         </tr>
         
      </table>     
    </div>
  
  </main>
</body>

</html>