<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transaction History</title>
  <link rel="stylesheet" href="transaction-history.css">
  <script>
    //const histErrorMsg = document.getElementById("hist-error-msg");
    //insert part about session timeout here possibly 
    //    if (username === "user" && password === "web_dev") {
    //        alert("You have successfully logged in.");
    //        location.reload();
    //    } else {
    //        histErrorMsg.style.opacity = 1;
    //    }

    </script>
</head>

<body>
  <main id="main-holder">
    <h1 id="history-header">Transaction History</h1>
    
    <!--
    <div id="hist-error-msg-holder">
      <p id="hist-error-msg">Session Timeout <span id="error-msg-second-line">Please login again</span></p>
    </div>
    -->

    <div id="history-holder">
      <table>
         <tr>
            <th>Date</th>
            <th>Details</th>
            <th>Amount</th>
         </tr>
         <tr>
            <td>sample date</td>
            <td>sample payee accnt details <span id="details-second-line">sample expenses category</span></td>
            <td>sample amount</td>
         </tr>
         <tr>
             <td>sample date</td>
            <td>sample payee accnt details <span id="details-second-line">sample expenses category</span></td>
            <td>sample amount</td>         
          </tr>
      </table>     
    </div>
  
  </main>
</body>

</html>